<h1>Editing photo post</h1>

<%= render "form", photo_post: @photo_post %>

<br>

<div>
  <%= link_to "Show this photo post", @photo_post %> |
  <%= link_to "Back to photo posts", photo_posts_path %>
</div>
